.link {
    margin-right: 70px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    align-self: center;
    justify-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.linkName {
    justify-self: center;
    align-self: center;
}

.link:hover {}