* {
  box-sizing: border-box;
  margin: 0;
}

body {
}

code {
}

.content {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.addBtn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
